# Configurações da API Sonax
SONAX_QUEUE_ID=928133               # Fila padrão
SONAX_QUEUE_ALTO_PADRAO=915172      # Fila vendas - time alto padrão
SONAX_QUEUE_MCMV=917032             # Fila vendas - time Minha Casa Minha Vida
SONAX_QUEUE_ECONOMICO=933572        # Fila vendas - time econômico
SONAX_TOKEN=SEU_TOKEN_SONAX_AQUI

# Configurações da API Imoview
IMOVIEW_KEY=SUA_CHAVE_API_IMOVIEW_AQUI
IMOVIEW_EMAIL=SEU_EMAIL_IMOVIEW_AQUI
IMOVIEW_PASSWORD_MD5=SENHA_MD5_AQUI
